<a href="https://colab.research.google.com/github/PedroBiel/Cierzo/blob/master/primera_prueba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TÃ­tulo

In [0]:
x = 2

In [0]:
y = 3

In [0]:
x + y

5

In [0]:
import pandas as pd

In [0]:
datos = {'a': [1, 2, 3],
         'b': [4, 5, 6]}
df = pd.DataFrame(datos)
df

   a  b
0  1  4
1  2  5
2  3  6